			#header
			{
				height:80px;
				width:100%;
				background-color:gray;
			}
			#logo
			{
				float:left;
			}
			.links
			{
				list-style:none;
				text-align: right;
				float:right;
				top:1%
			}
			.links ul
			{
				margin-right: 150px;
			}
			.links li
			{
				display: inline-block;
				text-decoration: none;
				padding-left: 15px;
				padding-right: 15px;
			}
			.links li a
			{
				text-decoration:none;
				color: black;
				font-size:20px;
				padding: 15px;
			}
			.links li a:hover
			{
				background: black;
				color: white;
				transition: .5s;
			}
			img
			{
				width:55px;
				height:55px;
				padding-left:70px;
				padding-top:12px;
				padding-bottom:15px;
			}
			#banner
			{
				height:280px;
				width:100%;
				background-color:pink;	
			}
			h1
			{
				position:absolute;
				top:160px;
				left:42%;
				color:white;
				font-size:50px;
			}
			#larrow
			{
				position:absolute;
				top:175px;
				left:0.3%;
			}
			#rarrow
			{
				position:absolute;
				top:175px;
				right:5%;
			}
			#content
			{
				
				height:450px;
			}
			#content::after 
			{
				content: '';
				display: table;
				clear: both;
			}
			#left
			{	float:left;
				width:40%;
			}
			#yellow
			{
				height:448px;
				width:450px;
				background-color:yellow;
				margin-top:15px;
				margin-left:100px;
			}
			#purple
			{
				height:320px;
				width:17%;
				background-color:purple;
				position:absolute;
				top:420px;
				left:50px;
				
			}
			#maincontent
			{
				height:250px;
				width:45%;
				float:left;
				background-color:orange;
				position:relative;
				left:10%;
				top:15px;
			}
			form
			{
				padding-left:20px;
				padding-top:20px;
			}
			.formstyle input[type="text"],input[type="password"],select
			{
				border: none;
				width: 40%;
				font-size: 25px;
				background-color: rgba(255, 255, 255,.25);
			}
			.formstyle input[type="submit"]
			{
				width: 15%;
				padding: 7px;
				font-size: 18px;
				border: none;
				background-color: rgba(255,255,255,.25);
			}
			#extracontent
			{
				height:180px;
				width:45%;
				float:left;
				background-color:green;
				position:relative;
				left:10%;
				top:30px;
			}
			.footer
			{
				height:80px;
				width:100%;
				background-color:lightblue;
				position:relative;
				clear:both;
				list-style: none;
				text-align: center;
				margin-top:20px;
			}
			
			.links2
			{
				list-style:none;
				width: 100%;
				float:left;
			}
			.footer li
			{
				display: inline-block;
				text-decoration: none;
				padding-left: 15px;
				padding-right: 15px;
				padding-top:5px;
			}
			.footer li a
			{
				text-decoration: none;
				color: white;
				font-size: 20px;
			}
			.footer li a:hover
			{
				color: black;
			}
			