			#item
			{
			background-color: red;
			width:100%;
			height:630px;
			}
			#top
			{
			width:100%;
			height:330px;
			}
			#topleft
			{
				padding-left:30px;
				padding-top:30px;
			}
			#topright
			{
			float:right;
			padding-right:300px;
			padding-bottom:70px;
			width:100px;
			height:10px;
			}
			#bottom
			{
			background-color: red;
			width:100%;
			height:300px;
			}
			.bottomcol
			{
			float:left;
			background-color:brown;
			width:33%;
			height: 300px;
			margin-right:1px;
			}
			#bottomright
			{
			float:left;
			background-color:brown; 
			width:33.8%;
			height: 300px;
			}
			.b1
			{
			padding-top:25px;
			padding-left:25px;
			padding-right:25px;
			}
			h1
			{
			font-size: 64px;
			color:white;
			}
			h3
			{
			font-size: 30px;
			color:white;
			}
			p
			{
			font-size: 18px;
			color: white;
			}