
.container {
  max-width:100%;
}
.card {
  float: left;
  margin: 10px;
  width:300px;
} 
.card-body {
  height: 225px;
  overflow: hidden;
}
.card-img {
  width:298px;
  height: 160px;
}
.card-img-top {
  width: 300px;
}
.card-title {
  height: 47px;
  overflow: hidden;
}
.btn {
  float: right;
  margin-left: 5px;
}
.card-text{
  margin :0px 0px;
}
.home {
  width: 100%;
  float: left;
  margin-top: 15px;
}
.nav{
  background-color: lightblue;
  justify-content: flex-end;
}
.nav-item{
  margin: 5px 0;
}
.dropdown {
  margin: 5px 10px;
}
#site {
  flex: auto;
  color: black;
  margin: 5px 0;
  margin-left: 10px;
}
.error {
  color: red;
}
label {
  margin-top: 10px;
}
.login-content {
  width: 300px;
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
}
#login {
  margin-top: 5px;
}
.register-content {
  width: 450px;
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
  margin-top: 100px;
  margin-bottom: 50px;
}
.g-recaptcha {
  margin-top: 10px;
  width: 50px;
  height: 90px;
}
#register {
  margin-top: -58px;
  margin-right: 25px;
}
h2 {
  text-align: center;
}
h1 {
  text-align: center;
  margin-top: 10px;
}
.show-img {
  display: flex;
  justify-content: center;
}
.show-image {
  margin-top: 20px;
  width: 800px;
  height: 300px;
}
.show-content {
  padding: 25px;
  margin-top: 25px;
}
.show-date {
  float: right;
  margin-right: 25px;
}
.show-author {
  float: right;
  margin-right: 25px;
}
img{
  width:300px;
}
#update {
  margin-top: 5px;
}
#post {
  margin-top: 5px;
}
